@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
     ========================================================================== */
/**
   * Remove the margin in all browsers.
   */
body {
  margin: 0;
}

/**
   * Render the `main` element consistently in IE.
   */
main {
  display: block;
}

/**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
     ========================================================================== */
/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
     ========================================================================== */
/**
   * Remove the gray background on active links in IE 10.
   */
a {
  background-color: transparent;
}

/**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
b,
strong {
  font-weight: bolder;
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
   * Add the correct font size in all browsers.
   */
small {
  font-size: 80%;
}

/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
     ========================================================================== */
/**
   * Remove the border on images inside links in IE 10.
   */
img {
  border-style: none;
}

/* Forms
     ========================================================================== */
/**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
   * Correct the inability to style clickable types in iOS and Safari.
   */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
   * Remove the inner border and padding in Firefox.
   */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
   * Restore the focus styles unset by the previous rule.
   */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
   * Correct the padding in Firefox.
   */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
progress {
  vertical-align: baseline;
}

/**
   * Remove the default vertical scrollbar in IE 10+.
   */
textarea {
  overflow: auto;
}

/**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
     ========================================================================== */
/*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
details {
  display: block;
}

/*
   * Add the correct display in all browsers.
   */
summary {
  display: list-item;
}

/* Misc
     ========================================================================== */
/**
   * Add the correct display in IE 10+.
   */
template {
  display: none;
}

/**
   * Add the correct display in IE 10.
   */
[hidden] {
  display: none;
}

* {
  font-family: 'Roboto', sans-serif;
}

html {
  scroll-behavior: smooth;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
}

.wrap {
  width: 1000px;
  margin: 0 auto;
}

.title {
  width: 100%;
  font-size: 14px;
  color: #fff;
  background-color: #fc471e;
  margin: 0;
}

.button-authorization {
  padding: 3px 16px;
  font-size: 12px;
  line-height: 24px;
  border: 1px solid #297afc;
  letter-spacing: 1px;
  font-weight: 700;
  border-radius: 4px;
}

.section-navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 20px;
  border-bottom: 1px solid #eff1f3;
  height: 60px;
}

.section-navbar__logo-image {
  width: 120px;
}

.section-navbar__logo-image:hover {
  cursor: pointer;
}

.section-navbar__search-box {
  width: 1000px;
}

.section-navbar__search-box .search-box__button {
  position: relative;
  top: 2px;
  left: 35px;
  height: 20px;
  width: 20px;
  border: none;
  background: url("../img/icons/search-solid.png") no-repeat center center/cover;
}

.section-navbar__search-box .search-box__button:hover {
  cursor: pointer;
}

.section-navbar__search-box .fa-times {
  position: relative;
  right: 35px;
  color: #297afc;
  visibility: hidden;
}

.section-navbar__search-box .fa-times:hover {
  visibility: visible;
}

.section-navbar__search-box input {
  width: 80%;
  height: 40px;
  border-radius: 5px;
  background-color: #edeff1;
  outline: none;
  border: 1px solid #eff1f3;
  padding: 0 15px 0 40px;
}

.section-navbar__search-box input:hover, .section-navbar__search-box input:focus {
  border: 1px solid #297afc;
  background-color: #fff;
}

.section-navbar__search-box input:hover + .fa-times, .section-navbar__search-box input:focus + .fa-times {
  visibility: visible;
}

.section-navbar__reddit-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-right: 1px solid #eff1f3;
}

.section-navbar__reddit-icons .fas,
.section-navbar__reddit-icons .fab {
  padding: 14px;
  margin-right: 8px;
}

.section-navbar__reddit-icons .fas:hover,
.section-navbar__reddit-icons .fab:hover {
  background-color: #edeff1;
  border-radius: 3px;
  cursor: pointer;
}

.section-navbar__buttons {
  width: 260px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-navbar__buttons .button__log-in {
  width: 100%;
  background-color: #fff;
  color: #297afc;
}

.section-navbar__buttons .button__log-in:hover {
  cursor: pointer;
}

.section-navbar__buttons .button__sign-up {
  width: 100%;
  background-color: #297afc;
  color: #fff;
  margin-left: 16px;
}

.section-navbar__buttons .button__sign-up:hover {
  opacity: .6;
  cursor: pointer;
}

.section-navbar__user-settings {
  padding: 8px 10px;
  margin-right: 10px;
  width: 60px;
  color: #878a8c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.section-navbar__user-settings:hover {
  border-radius: 4px;
  border: 1px solid #eff1f3;
  cursor: pointer;
}

.header-wrapper {
  height: 210px;
  background: url("../img/banner-background.png") no-repeat center center/cover;
}

.header-menu {
  height: 40px;
  background-color: #fc471e;
}

.header-menu-wrapper {
  width: 100%;
  position: relative;
  top: 20px;
}

.header-menu__item {
  color: #fff;
  text-decoration: none;
  border-bottom: 2px solid #fff;
}

.header-menu__item:hover {
  color: #000;
  border-bottom: 2px solid #000;
}

.main-content {
  background-color: #edeff1;
}

.main-content-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  font-size: 12px;
  color: #878a8c;
  font-weight: bold;
  letter-spacing: 1px;
}

.main-content-view {
  margin-left: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-content-view__img {
  width: 20px;
  padding: 0 8px;
}

.main-content-view__img:hover {
  cursor: pointer;
}

.main-content-sort {
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.main-content-sort .sort-item {
  font-size: 14px;
  color: #878a8c;
  width: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-content-sort .sort-item:hover {
  cursor: pointer;
}

.main-content-sort .active {
  color: #fc471e;
}

.main-content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 20px 0;
}

.main-content #results {
  width: 70%;
}

.main-content #results .post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  margin-bottom: 60px;
  border: 1px solid #eff1f3;
  background-color: #fff;
  height: 400px;
  max-width: 620px;
  border-radius: 4px;
}

.main-content #results .post:hover {
  cursor: pointer;
  border: 1px solid #2c2c2c;
}

.main-content #results .post-likes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 10px;
}

.main-content #results .post-likes .fas {
  color: #878a8c;
  margin: 5px 0;
}

.main-content #results .post-likes .fa-arrow-alt-circle-up:hover {
  color: #00ff00;
  cursor: pointer;
}

.main-content #results .post-likes .fa-arrow-alt-circle-down:hover {
  color: #ff0000;
  cursor: pointer;
}

.main-content #results .post-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-content #results .post-body-author {
  font-size: 12px;
  color: #878a8c;
}

.main-content #results .post-body-content {
  width: 550px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-content #results .post-body-content .content-wrapper .content-title {
  color: #fc471e;
}

.main-content #results .post-body-content .content-wrapper .content-description {
  color: #878a8c;
}

.main-content #results .post-body-content .content-title__transparent {
  border-top: 1px solid #878a8c;
}

.main-content #results .post-body-content .content-title__transparent .transparent-title {
  background: -webkit-gradient(linear, left top, left bottom, from(#878a8c), to(#eff1f3));
  background: linear-gradient(#878a8c, #eff1f3);
  font-weight: lighter;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main-content #results .post-body-content .content-icons-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #878a8c;
  font-size: 12px;
}

.main-content #results .post-body-content .content-icons-wrap .icons__bottom {
  padding: 10px;
}

.main-content #results .post-body-content .content-icons-wrap .icons__bottom:hover {
  background-color: #eff1f3;
}

.main-content-sidebar {
  margin: 0 20px;
  height: 100%;
  width: 30%;
}

.main-content-sidebar__community {
  background-color: #fff;
  border-radius: 4px;
  height: 200px;
}

.main-content-sidebar__community .community-title {
  border-radius: 4px 4px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 12px;
  height: 40px;
  background-color: #fc471e;
}

.main-content-sidebar__community .community-subtitle {
  font-size: 14px;
  padding: 0 12px;
}

.main-content-sidebar__community .community-statistic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 12px;
  border-bottom: 1px solid #eff1f3;
}

.main-content-sidebar__community .community-statistic__item {
  width: 110px;
}

.main-content-sidebar__community .community-statistic__item .statistic-title {
  margin: 0;
}

.main-content-sidebar__community .community-statistic__item .statistic-subtitle {
  font-size: 12px;
  margin-top: 0;
}

.main-content-sidebar__community .community-created {
  margin: 12px;
}

.main-content-sidebar__community .community-created-card {
  margin: 12px 0;
}

.main-content-sidebar__advertisement {
  height: 50vh;
  width: 100%;
  background-color: #fff;
  margin: 20px 0;
  border-radius: 4px;
}

.main-content-sidebar__advertisement .advertisement {
  padding: 5px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 10px;
  color: #000;
}

.main-content-sidebar__button {
  display: none;
  position: fixed;
  right: 30px;
  bottom: 10px;
  text-align: center;
}

.main-content-sidebar__button .button-to-top {
  background-color: #fc471e;
  padding: 10px 20px;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 4px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
}

.main-content-sidebar__button .button-to-top:hover {
  cursor: pointer;
  opacity: .7;
}
/*# sourceMappingURL=main.css.map */