* {
    font-family: 'Roboto', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.wrapper {
    width: 1200px;
    margin: 0 auto;
}

.wrap {
    width: 1000px;
    margin: 0 auto;
}

.title {
    width: 100%;
    font-size: 14px;
    color: $lightColor;
    background-color: $mainColor;
    margin: 0;
}

.button-authorization {
    padding: 3px 16px;
    font-size: 12px;
    line-height: 24px;
    border: $secondarySolidBorder;
    letter-spacing: 1px;
    font-weight: 700;
    border-radius: 4px;
}