.section-navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px 20px;
    border-bottom: $solidBorder;
    height: 60px;

    &__logo-image {
        width: 120px;

        &:hover {
            cursor: pointer;
        }
    }

    &__search-box {
        width: 1000px;

        .search-box__button {
            position: relative;
            top: 2px;
            left: 35px;
            height: 20px;
            width: 20px;
            border: none;
            background: url('../img/icons/search-solid.png') $backgroundPositioning;

            &:hover {
                cursor: pointer;
            }
        }

        .fa-times {
            position: relative;
            right: 35px;
            color: $secondaryBorderColor;
            visibility: hidden;

            &:hover {
                visibility: visible;
            }
        }

        input {
            width: 80%;
            height: 40px;
            border-radius: 5px;
            background-color: $backgroundColor;
            outline: none;
            border: $solidBorder;
            padding: 0 15px 0 40px;

            &:hover,
            &:focus {
                border: $secondarySolidBorder;
                background-color: $lightColor;

                &+.fa-times {
                    visibility: visible;
                }
            }
        }
    }

    &__reddit-icons {
        display: flex;
        justify-content: center;
        align-items: center;
        border-right: $solidBorder;

        .fas,
        .fab {
            padding: 14px;
            margin-right: 8px;

            &:hover {
                background-color: $backgroundColor;
                border-radius: 3px;
                cursor: pointer;
            }
        }
    }

    &__buttons {
        width: 260px;
        display: flex;
        justify-content: space-between;

        .button__log-in {
            width: 100%;
            background-color: $lightColor;
            color: $secondaryBorderColor;

            &:hover {
                cursor: pointer;
            }
        }

        .button__sign-up {
            width: 100%;
            background-color: $secondaryBorderColor;
            color: $lightColor;
            margin-left: 16px;

            &:hover {
                opacity: .6;
                cursor: pointer;
            }
        }
    }

    &__user-settings {
        padding: 8px 10px;
        margin-right: 10px;
        width: 60px;
        color: $iconColor;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: none;
        box-sizing: border-box;

        &:hover {
            border-radius: 4px;
            border: $solidBorder;
            cursor: pointer;
        }
    }
}

.header {
    &-wrapper {
        height: 210px;
        background: url('../img/banner-background.png') $backgroundPositioning;
    }

    &-menu {
        height: 40px;
        background-color: $mainColor;

        &-wrapper {
            width: 100%;
            position: relative;
            top: 20px;
        }

        &__item {
            color: $lightColor;
            text-decoration: none;
            border-bottom: 2px solid $lightColor;

            &:hover {
                color: $darkColor;
                border-bottom: 2px solid $darkColor;
            }
        }
    }
}

.main {
    &-content {
        background-color: $backgroundColor;

        &-box {
            display: flex;
            align-items: center;
            height: 40px;
            font-size: 12px;
            color: $iconColor;
            font-weight: bold;
            letter-spacing: 1px;
        }

        &-view {
            margin-left: 50px;
            display: flex;
            align-items: center;

            &__img {
                width: 20px;
                padding: 0 8px;

                &:hover {
                    cursor: pointer;
                }
            }
        }

        &-sort {
            width: 300px;
            display: flex;
            justify-content: space-around;

            .sort-item {
                font-size: 14px;
                color: $iconColor;
                width: 50px;
                display: flex;
                justify-content: space-between;
                align-items: center;

                &:hover {
                    cursor: pointer;
                }
            }

            .active {
                color: $mainColor;
            }
        }

        &-wrapper {
            display: flex;
            justify-content: space-between;
            margin: 20px 0;
        }

        #results {
            width: 70%;

            .post {
                display: flex;
                padding: 10px;
                margin-bottom: 60px;
                border: $solidBorder;
                background-color: $lightColor;
                height: 400px;
                max-width: 620px;
                border-radius: 4px;

                &:hover {
                    cursor: pointer;
                    border: $borderPosts;
                }

                &-likes {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin-right: 10px;

                    .fas {
                        color: $iconColor;
                        margin: 5px 0;
                    }

                    .fa-arrow-alt-circle-up:hover {
                        color: $arrowUp;
                        cursor: pointer;
                    }

                    .fa-arrow-alt-circle-down:hover {
                        color: $arrowDown;
                        cursor: pointer;
                    }
                }

                &-body {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    &-author {
                        font-size: 12px;
                        color: $iconColor;
                    }

                    &-content {
                        width: 550px;
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;

                        .content {
                            &-wrapper {
                                .content {
                                    &-title {
                                        color: $mainColor;
                                    }

                                    &-description {
                                        color: $iconColor;
                                    }
                                }
                            }

                            &-title__transparent {
                                border-top: 1px solid $iconColor;

                                .transparent-title {
                                    background: linear-gradient($iconColor, $borderColor);
                                    font-weight: lighter;
                                    -webkit-background-clip: text;
                                    -webkit-text-fill-color: transparent;
                                }
                            }
                        }

                        .content-icons-wrap {
                            display: flex;
                            color: $iconColor;
                            font-size: 12px;

                            .icons__bottom {
                                padding: 10px;

                                &:hover {
                                    background-color: $borderColor;
                                }
                            }
                        }
                    }
                }
            }
        }

        &-sidebar {
            margin: 0 20px;
            height: 100%;
            width: 30%;

            &__community {
                background-color: $lightColor;
                border-radius: 4px;
                height: 200px;

                .community {
                    &-title {
                        border-radius: 4px 4px 0 0;
                        display: flex;
                        align-items: center;
                        padding: 0 12px;
                        height: 40px;
                        background-color: $mainColor;
                    }

                    &-subtitle {
                        font-size: 14px;
                        padding: 0 12px;
                    }

                    &-statistic {
                        display: flex;
                        margin: 12px;
                        border-bottom: $solidBorder;

                        &__item {
                            width: 110px;

                            .statistic-title {
                                margin: 0;
                            }

                            .statistic-subtitle {
                                font-size: 12px;
                                margin-top: 0;
                            }
                        }
                    }

                    &-created {
                        margin: 12px;

                        &-card {
                            margin: 12px 0;
                        }
                    }
                }
            }


            &__advertisement {
                height: 50vh;
                width: 100%;
                background-color: $lightColor;
                margin: 20px 0;
                border-radius: 4px;

                .advertisement {
                    padding: 5px;
                    text-transform: uppercase;
                    letter-spacing: 1px;
                    font-size: 10px;
                    color: $darkColor;
                }
            }

            &__button {
                display: none;
                position: fixed;
                right: 30px;
                bottom: 10px;
                text-align: center;

                .button-to-top {
                    background-color: $mainColor;
                    padding: 10px 20px;
                    color: $lightColor;
                    border: none;
                    outline: none;
                    border-radius: 4px;
                    text-transform: uppercase;
                    font-size: 12px;
                    font-weight: 700;

                    &:hover {
                        cursor: pointer;
                        opacity: .7;
                    }
                }
            }
        }
    }
}