$mainColor: #fc471e;
$lightColor: #fff;
$darkColor:#000;
$backgroundColor: #edeff1;
$borderColor: #eff1f3;
$secondaryBorderColor: #297afc;
$secondarySolidBorder: 1px solid $secondaryBorderColor;
$iconColor: #878a8c;
$arrowDown: #ff0000;
$arrowUp: #00ff00;
$borderPosts: 1px solid #2c2c2c;
$solidBorder: 1px solid $borderColor;
$backgroundPositioning: no-repeat center center/cover;